<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/beans_1_0.xsd
        http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd">
    <jaxws:endpoint address="/human-being-service"
                    implementor="ru.itmo.soa.app.soap.HumanBeingSoapService"/>
    <jaxws:endpoint address="/heroes-service"
                    implementor="ru.itmo.soa.app.soap.HeroesSoapService"/>
</beans>